*{
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 22px;
    flex-wrap: wrap; 
}
.top img{
    width: 180px;

}
hr{
    margin-top: 25px;
    margin-bottom: 50px;
}
.dataClass{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;

}
.dataClass a{
    text-decoration: none;
    font-size: 19px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #1c3664; 
}
.jobV{
    color: #1c3664;
    margin-top: 30px;
   display: flex; 
   justify-content: center;
}
.jobV a{
    color: white;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 8px;
    background-color: darkgoldenrod;
     text-decoration: none;
}
a:hover{
    color: red;
}
.jobV a:hover{
    color: red;
    background-color: #1c3664;
}
.jpVacancy{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
